.fruits1 span:first-child {
  color: red;
}
/* class가 fruits1인 후손에서 span 태그가 첫째라면 해당 태그의 style을 이렇게 한다. */

.fruits2 > .basket2 span:first-child {
  color: violet;
}
/* class가 fruits2인 요소의 자식 중 class가 basket2인 요소의 자식 중 첫번째 자식이 span이라면 */

.fruits3 span:last-child {
  color: green;
}

.fruits3 h3:last-child {
  color: purple;
}
/* 마지막 요소가 h3이니까 색은 purple이다. */

.fruits4 *:nth-child(n + 2) {
  background-color: pink;
}
/* n은 0부터 시작! */

.fruits4 *:not(span) {
  color: blueviolet;
}

.stripes div:nth-child(n + 1) {
  background-color: yellow;
}
.stripes div:nth-child(2n) {
  background-color: navy;
}
